.nav {
  padding-left: 0;
  
  list-style: none;
  @include flex-containers(column, null, null, m, row, center);

  &__item {
    text-align: center;
    @include mq {
      flex-basis: 100px;
    }
    
    & a {
      border-radius: $border-rounded;
      padding: 10px 0;
      display: block;
      width: 100%;
      transition: 
        background-color .2s ease-in-out, 
        color .2s ease-in-out;

      @include mq {
        min-width: 100px;;
      }
      &:hover {
      color: #fff;
      background-color: map-get($map: $colors, $key: text-headline );
      }
    }
  }
}